.heros {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: $title;

  picture {
    position: absolute;
    width: 100%;
    height: 100%;

    .img_heros {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 60% 50%;
    }
  }

  .background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 25%,
      rgba(0, 0, 0, 0)
    );
  }

  .container {
    height: 100vh;
    position: relative;
    z-index: 99;

    .row {
      height: 100vh;

      article {
        text-align: center;
      }
    }
  }
}

section {
  .container {
    h3 { font-family: $title; margin-top: 20px; }
    h4 { color: $primary }
    .card { 
      margin: 10px 0; 
      &-body {
        span {font-family: $title; color: $primary; }
      }
      &-footer {
        .btn { 
          width: 100%; margin: 10px 0; 
          a {
            text-decoration: none;
            color: $text;
          }
        }
      }
    } 
  }
}

@media screen and (orientation: landscape) {
  .heros {
    height: 56.25%;

    .background {
        background-image: linear-gradient(transparent, transparent);
        background-color: $bg;
        opacity: 0.5;
    }
  }
}
