.album {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0%;
  top: 0%;

  background-color: #262626;
}

.bgi {
  height: 100vh;
  width: 100%;
  top: 0%;
  left: 0%;
  position: absolute;
  background-image: linear-gradient(to bottom, transparent, #00aeff);
}

.heros {
  position: relative;
  height: 100vh;

  .container {
    height: 100%;
    position: relative;
    font-family: $regular;
    font-size: $text-regular;

    .row {
      height: 100%;
    }
    .disco {
      .btn {
        margin-left: 0;
      }
    }
  }
}

footer {
  padding: 20px 0;
  background-color: $bg;
  color: $text;

  a {
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.3s ease-in-out;
    &:hover {
      color: $text-hover;
    }
  }
}

.heros {
  .swiper-container {
      background-color: #262626;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -99;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.sidebar-alt{
  position:sticky;
  top:30%;
  .sprite{
    background-size: 100%;
    width: 23.5vw;
    height: 0;
    padding-bottom: 100%;

    &.idle{
      background-image: url('/img/oli_idle.png');
      animation: idle 1s infinite steps(22);
      from {background-position: 0 0;}
      to {background-position: 0 100%}
    }

    &.up{
      background-image: url('/img/oli_scroll.png');
      animation: idle 1s reverse infinite steps(20);
      from {background-position: 0 0;}
      to {background-position: 0 100%}
    }

    &.down{
      background-image: url('/img/oli_play.png');
      animation: idle 1s infinite steps(20);
      from {background-position: 0 0;}
      to {background-position: 0 100%}
    }

  }


}
