//color
$bg : #262626;
$text : #ebebeb;
$text-hover: #8d8d8d;
$text-alt : #202020;
$primary: #0097dd;
$primary-alt: #9fe1ff;
$primary-hover: #0076c5;
$secondary: #18684d;
$secondary-alt: #6bc5a6;
$secondary-hover: #144e3b;

//typo
$title: 'hammersmith One', sans-serif;
$regular: 'roboto', sans-serif;

//taille text 
$text-title: 8rem;
$text-alt-title: 3.8rem;
$text-subtitle: 1.8rem;
$text-subtitle-alt: 1.5rem;
$text-regular: 1.2rem;

* {padding: 0; margin: 0;}

html {scroll-behavior: smooth;}

html, body {color: $text-alt;}

h1, h2, h3, h4, h5 {margin-bottom: 0}

h1 { font-size: $text-title; font-family: $title; }
h2 { font-size: $text-alt-title; font-family: $title; }
h3 { font-size: $text-subtitle; font-family: $regular; }
h4 { font-size: $text-subtitle-alt; font-family: $title; }
h5 { font-size: $text-regular; font-family: $regular;}

a {text-decoration: none; color: $text;}

.ratio {width: 100%; height: 0; padding-bottom: 56.25%; }

.heros {color: $text}

.stroke { color: transparent; -webkit-text-stroke: 4px $text; }

.spacing5 { letter-spacing: 5px; }
.spacing10 { letter-spacing: 10px; }

.btn { padding: 0.8rem 1.2rem; margin: 1rem; font-family: $title;}

.btn.btn--primary {
    color: $text;
    background-color: $primary;
        &:hover {
            background-color: $primary-hover;
    }
}

.btn.btn--secondary {
    color: $text;
    background-color: $secondary;
        &:hover {
            background-color: $secondary-hover;
    }
}

@import 'accueil';
@import 'discographie';

